<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engaging Website</title>
</head>
<body>
    <h1>Congrads!!! you just won a free iphone 16!!!!</h1>
    <p>{{ prize_message }}</p>
  <button class="cta-button" onclick="alert('Thank you for visiting!')">Insert crdit card info here!</button>

</body>
</html> 
